.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

button {
  margin-right: 8px;
}

.header {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: red;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1rem;
    
    &:hover {
      
      color: #f0f0f0;
      transition: 0.3s ease;
    }
  }
}